html,
body,
#map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    background: #ffffff;
    will-change: transform !important;
}

#slider {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
}

.marker-city {
    background: none;
    border: none;
    color: #3e6689;
    text-align: center;
    text-shadow: 0 0 2px #fff;
}

.info-container {
    border-radius: 5px;
    background: #fff;
    bottom: 0;
    width: 500px;
    overflow-y: hidden;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.info-title {
    align-items: center;
    background: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info-title img {
    height: 1.6rem;
    margin-left: 6px;
    width: auto;
}

.info-title h2 {
    font-size: 1.6rem;
    margin: 0;
    margin-left: 6px;
}

.info-body {
    font-size: 0.8rem;
    height: 16vh;
    margin: 0;
    padding: 6px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.info-body h3:first-child {
    margin-top: 0;
}

.info-body h3 {
    margin: 0;
    margin-top: 4px;
}
